@import '@/assets/scss/normalize';

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

  // outline: 1px solid #ff000055;
}

.main {
  padding: 0 40px;
}

.router-link-active {
  color: unset;
}
