@import '@/assets/scss/normalize';
@import '@/assets/scss/mixins';

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

  // outline: 1px solid #f005;
}

.main {
  padding: 0 40px;
}

.router-link-active {
  color: unset;
}

.muted {
  padding-top: $break;
  color: $muted-text-color;
  font-style: italic;
}

@keyframes box {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.7;
  }
}

.hide-on-mobile {
  @include media-down(tablet) {
    display: none !important;
  }
}

// scalable
input,
textarea {
  @include media-up(desktop) {
    @include scalable(1.01);

    &:focus {
      transform: none;
    }
  }
}

button,
a {
  @include scalable;
}

.scalable {
  @include scalable(1.01);

  cursor: pointer;
}
