@import '@/assets/scss/normalize';
@import '@/assets/scss/mixins';

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

  // outline: 1px solid #ff000055;
}

.main {
  padding: 0 40px;
}

.router-link-active {
  color: unset;
}

// scaleable
input,
textarea {
  @include scalable(1.01);

  &:focus {
    transform: none;
  }
}

button,
a {
  @include scalable;
}

.scalable {
  @include scalable(1.01);

  cursor: pointer;
}
