// sizes
$media-mobile-s: 320px;
$media-mobile-m: 640px;
$media-mobile-l: 1080px;

$media-tablet-s: 1200px;
$media-tablet-m: 1400px;
$media-tablet-l: 1600px;

$media-desktop-s: 1200px;
$media-desktop-m: 1800px;
$media-desktop-l: 2200px;

// general
@mixin media-mn-mx($from, $to) {
	@media screen and (min-width: $from) and (max-width: $to) {
		@content;
	}
}

@mixin media-mn($from) {
	@media screen and (min-width: $from) {
		@content;
	}
}

@mixin media-mx($to) {
	@media screen and (max-width: $to) {
		@content;
	}
}

@mixin landscape() {
	html.landscape & {
		@content;
	}
}

@mixin portrait() {
	html.portrait & {
		@content;
	}
}

// media mixins

// mobile
@mixin mobile {
	html.mobile & {
		@include media-mx($media-mobile-l) {
			@content;
		}
	}
}
@mixin mobile-landscape {
	html.mobile.landscape & {
		@include media-mx($media-mobile-l) {
			@content;
		}
	}
}
@mixin mobile-portrait {
	html.mobile.portrait & {
		@include media-mx($media-mobile-l) {
			@content;
		}
	}
}
// -
@mixin mobile-s() {
	html.mobile & {
		@include media-mx($media-mobile-s) {
			@content;
		}
	}
}
@mixin mobile-s-landscape() {
	html.mobile.landscape & {
		@include media-mx($media-mobile-s) {
			@content;
		}
	}
}
@mixin mobile-s-portrait() {
	html.mobile.portrait & {
		@include media-mx($media-mobile-s) {
			@content;
		}
	}
}
// -
@mixin mobile-m() {
	html.mobile & {
		@include media-mn-mx($media-mobile-s, $media-mobile-m) {
			@content;
		}
	}
}

@mixin mobile-m-landscape() {
	html.mobile.landscape & {
		@include media-mn-mx($media-mobile-s, $media-mobile-m) {
			@content;
		}
	}
}
@mixin mobile-m-portrait() {
	html.mobile.portrait & {
		@include media-mn-mx($media-mobile-s, $media-mobile-m) {
			@content;
		}
	}
}
// -
@mixin mobile-l() {
	html.mobile & {
		@include media-mn-mx($media-mobile-m, $media-mobile-l) {
			@content;
		}
	}
}

@mixin mobile-l-landscape() {
	html.mobile.landscape & {
		@include media-mn-mx($media-mobile-m, $media-mobile-l) {
			@content;
		}
	}
}
@mixin mobile-l-portrait() {
	html.mobile.portrait & {
		@include media-mn-mx($media-mobile-m, $media-mobile-l) {
			@content;
		}
	}
}

// tablet
@mixin tablet() {
	html.tablet & {
		@include media-mn-mx($media-tablet-s, $media-tablet-l) {
			@content;
		}
	}
}
@mixin tablet-landscape() {
	html.tablet.landscape & {
		@include media-mn-mx($media-tablet-s, $media-tablet-l) {
			@content;
		}
	}
}
@mixin tablet-portrait() {
	html.tablet.portrait & {
		@include media-mn-mx($media-tablet-s, $media-tablet-l) {
			@content;
		}
	}
}
// -
@mixin tablet-s() {
	html.tablet & {
		@include media-mx($media-tablet-s) {
			@content;
		}
	}
}
@mixin tablet-s-landscape() {
	html.tablet.landscape & {
		@include media-mx($media-tablet-s) {
			@content;
		}
	}
}
@mixin tablet-s-portrait() {
	html.tablet.portrait & {
		@include media-mx($media-tablet-s) {
			@content;
		}
	}
}
// -
@mixin tablet-m() {
	html.tablet & {
		@include media-mn-mx($media-tablet-s, $media-tablet-m) {
			@content;
		}
	}
}
@mixin tablet-m-landscape() {
	html.tablet.landscape & {
		@include media-mn-mx($media-tablet-s, $media-tablet-m) {
			@content;
		}
	}
}
@mixin tablet-m-portrait() {
	html.tablet.landscape & {
		@include media-mn-mx($media-tablet-s, $media-tablet-m) {
			@content;
		}
	}
}
// -
@mixin tablet-l() {
	html.tablet & {
		@include media-mn-mx($media-tablet-m, $media-tablet-l) {
			@content;
		}
	}
}
@mixin tablet-l-landscape() {
	html.tablet.landscape & {
		@include media-mn-mx($media-tablet-m, $media-tablet-l) {
			@content;
		}
	}
}
@mixin tablet-l-portrait() {
	html.tablet.portrait & {
		@include media-mn-mx($media-tablet-m, $media-tablet-l) {
			@content;
		}
	}
}

// desktop
@mixin desktop() {
	html.desktop & {
		@include media-mn-mx($media-desktop-s, $media-desktop-l) {
			@content;
		}
	}
}
@mixin desktop-landscape() {
	html.desktop.landscape & {
		@include media-mn-mx($media-desktop-s, $media-desktop-l) {
			@content;
		}
	}
}
@mixin desktop-portrait() {
	html.desktop.portrait & {
		@include media-mn-mx($media-desktop-s, $media-desktop-l) {
			@content;
		}
	}
}
// -
@mixin desktop-s() {
	html.desktop & {
		@include media-mx($media-desktop-s) {
			@content;
		}
	}
}
@mixin desktop-s-landscape() {
	html.desktop.landscape & {
		@include media-mx($media-desktop-s) {
			@content;
		}
	}
}
@mixin desktop-s-portrait() {
	html.desktop.portrait & {
		@include media-mx($media-desktop-s) {
			@content;
		}
	}
}
// -
@mixin desktop-m() {
	html.desktop & {
		@include media-mn-mx($media-desktop-s, $media-desktop-m) {
			@content;
		}
	}
}
@mixin desktop-m-landscape() {
	html.desktop.landscape & {
		@include media-mn-mx($media-desktop-s, $media-desktop-m) {
			@content;
		}
	}
}
@mixin desktop-m-portrait() {
	html.desktop.portrait & {
		@include media-mn-mx($media-desktop-s, $media-desktop-m) {
			@content;
		}
	}
}
// -
@mixin desktop-l() {
	html.desktop & {
		@include media-mn-mx($media-desktop-l, $max-supported-width) {
			@content;
		}
	}
}
@mixin desktop-l-landscape() {
	html.desktop.landscape & {
		@include media-mn-mx($media-desktop-l, $max-supported-width) {
			@content;
		}
	}
}
@mixin desktop-l-portrait() {
	html.desktop.portrait & {
		@include media-mn-mx($media-desktop-l, $max-supported-width) {
			@content;
		}
	}
}
