@import './vars';
@import './media';

@mixin view-wrapper {
  width: 100%;
  margin: 0 auto;

  @include media-up(tablet) {
    width: 820px;
    margin: $break auto;
  }
}

@mixin block-border-radius {
  @include media-up(tablet) {
    border-radius: $border-radius;
  }
}

@mixin scalable($scale: 1.042) {
  transition: transform 0.3s;

  &:hover {
    transform: scale($scale);
  }
}

@mixin link {
  color: $link-color;
  font-weight: 300;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:active,
  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

@mixin button($bg-color: transparent, $color: $cta-color) {
  padding: 14px 20px;
  border: 1px solid $bg-color;
  border-radius: $border-radius;
  background-color: $color;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    border: 1px solid $color;
    background-color: transparent;
    color: $color;
  }
}

@mixin input {
  width: 100%;
  height: 45px;
  padding: 10px 16px;
  border: 1px solid $color-black;
  border-radius: 8px;
  font-size: $font-size-m;
}

@mixin action-button(
  $color: $cta-color,
  $s-color: transparent,
  $hoverActive: 'yes'
) {
  @include button(transparent, $color);

  padding: 10px;
  border: 1px solid $color;
  background-color: transparent;
  color: $color;
  transition: background-color 1s;

  &.cb-inactive {
    opacity: 0.5;

    &:hover {
      border: 1px solid $color;
      background-color: transparent;
      color: $color;
      cursor: not-allowed;
      transform: scale(1);
    }
  }

  @if $hoverActive == 'yes' {
    // @include media-up(tablet) {
    //   color: #fff;
    //   background-color: $color;
    //   transition: background-color 1s;

    //   &:hover {
    //     color: $color;
    //   }
    // }
  } @else {
    &:hover,
    &:active {
      border: 1px solid $color !important;
      color: $color;
    }
  }
}

@mixin tag {
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 5px 10px;
  border-radius: 40px;
  background-color: $tag-background-color;
  font-size: 0.8em;
  text-align: center;
}

@mixin loading-animation-text() {
  animation: box 2s linear infinite;
}

@mixin input-error {
  border: 1px solid red;
}

@mixin avatar {
  width: $avatar-size-m;
  height: $avatar-size-m;
  border-radius: 50%;
}

@mixin avatar-custom($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin data-block {
  background-color: #fff;

  @include block-border-radius;
}

@mixin beauty-input {
  padding: 4px $break;

  &,
  &:hover,
  &:active,
  &:focus {
    width: 100%;
    height: 35px !important;
    border: 1px solid $main-color;
    border-radius: $border-radius;
    outline: none !important;
    line-height: 2rem !important;
  }
}

@mixin beauty-textarea {
  @include beauty-input;

  min-height: 150px;
  resize: vertical;
}
