// content sizes
$header-height: 60px;
$break: 15px;
$border-radius: 12px;
$max-width: 1100px;
$max-content-width: 800px;
$search-max-width: 445px;

// fonts:
$font-size-ss: 0.7em;
$font-size-s: 0.8em;
$font-size-sm: 0.9em;
$font-size-m: 1em;
$font-size-l: 2em;
$avatar-size-s: 20px;
$avatar-size-m: 40px;
$avatar-size-l: 160px;

// colors
$link-color: #03aabb;
$link-color-checked: #00cbdd;
$home-background-color: #e6e6e6;
$tag-background-color: #f3f3f3;
$color-black: #2f2f2f;

// $main-color: #2a544c;
$main-color: #1a484c;

// $cta-color: #ffa000;
// $cta-color: #dc4416;
$cta-color: #3f51b5;
$muted-text-color: #c2c2c2;
$invisible-color: #e2e2e2;
$red: #d11;
$default-content-height: 83vh;
